<div class="tab-pane" id="users_boards">
	<% if (user.rentedOutBoards().first()) { %>

		Your Boards:

		<% if (user.boards().first()) { %>

					<br>
					Board Images:<br>
				
				<% if (user.boards().first().photos().first()) { %>

					<img src="<%= user.boards().first().photos().first().escape('small') %>" 
					class="board-photo img-responsive img-thumbnail" alt="Board Photo">
				
				<% } %>

		<% } else { %>
			You currently do not have any boards listed :(
		<% } %>

	<% } %>
</div>