<div id="content" class="container"></div>
<% content_for :head do %>
  <script type="text/javascript"
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPIvZ3bB-vwerYgC6W5wH09C68z3o8bZQ&sensor=false">
	</script>
	<%= javascript_include_tag "app" %>
<% end %> 