<li>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	<!-- FIX THE BUG WITH BRAND  ?? -->
	    	Brand:<%= board.get('model') %>
	    </h3>
	  </div>
	  <div class="panel-body">
	  	<% debugger %>
	    
	    Description: <%= board.escape('description') %>
			
	  </div>
	</div>


</li>