<li>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	<!-- FIX THE BUG WITH BRAND  ?? -->
	    	Brand:<%= board.get('model') %>
	    </h3>
	  </div>
	  <div class="panel-body">
	    Length: <%= board.escape('length') %>
	    <br>
	    Description: <%= board.escape('description') %>
	    <img src="" class="img-responsive img-thumbnail" alt="Responsive image">
	  </div>
	</div>


</li>