<form class="form-inline">

	<div class="row"> 
		<div class="form-group col-lg-12">
		  <div class="form-group col-lg-3">
		    <label class="sr-only" for="location">Location</label>
		    <input type="text" class="form-control" id="index-location-picker" placeholder="Location" name="filters[location]"/>
		  </div>

			<div class="input-daterange input-group col-lg-6" id="datepicker">
				
		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <label class="sr-only" for="start-date">Start Date</label>
		    <input type="text" class="form-control" id="start-date" placeholder="Start Date" name="filters[start]"/>

		    <span class="input-group-addon separator">to</span>

		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <label class="sr-only" for="end-date">End Date</label>
		    <input type="text" class="form-control" id="end-date" placeholder="End Date" name="filters[end]"/>
		  </div>

	    <div class="checkbox">
		    <label class="filters" for="board_type_shortboard">Shortboard</label>
		    <input type="checkbox" class="form-control" name="filters[board_type][]" id="board_type_shortboard" value="shortboard"><br>
		    
		    <label class="filters" for="board_type_longboard">Shortboard</label>
		    <input type="checkbox" class="form-control" name="filters[board_type][]" id="board_type_longboard" value="longboard"><br>		    
		  </div>
	
			<br><br>
			
			<p>
			  <label>Max Price: <span id='amount' style="border:0; color:#f6931f; font-weight:bold;">$50</span></label>
			  <input type="hidden" id="filters_max_price" value="50" name="filters[max_price]">
			</p>

			<div id="slider"></div>

			<br><br>

			<div class="form-group col-lg-2">
				<button type="submit" class="btn btn-default ">
					<span class="glyphicon glyphicon-search"></span>
					Search!
				</button>
			</div>	
		<div class="form-group col-lg-2">
	</div>
</form>