<form class="form-inline">
	<div class="row"> 
		<div class="form-group col-lg-12">
		  <div class="form-group col-lg-3">
		    <label class="sr-only" for="location">Location</label>
		    <input type="text" class="form-control" id="location" placeholder="Location"/>
		  </div>

			<div class="input-daterange input-group col-lg-6" id="datepicker">
				
		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <label class="sr-only" for="start-date">Start Date</label>
		    <input type="text" class="form-control" id="start-date" placeholder="Start Date" name="start"/>

		    <span class="input-group-addon separator">to</span>

		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <label class="sr-only" for="end-date">End Date</label>
		    <input type="text" class="form-control" id="end-date" placeholder="End Date" name="end"/>
		  </div>

			<div class="form-group col-lg-2">
				<button type="submit" class="btn btn-default ">
					<span class="glyphicon glyphicon-search"></span>
					Search!
				</button>
			</div>	
		<div class="form-group col-lg-2">
	</div>
</form>