<form class="form-inline">
	<div class="row search-bar-dates"> 	
		<div class="input-daterange input-group" id="datepicker">
			
	    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	    <label class="sr-only" for="start-date">Start Date</label>
	    <input type="text" class="form-control" id="start-date" placeholder="Start Date" name="filters[start]"/>

	    <span class="input-group-addon separator">to</span>

	    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	    <label class="sr-only" for="end-date">End Date</label>
	    <input type="text" class="form-control" id="end-date" placeholder="End Date" name="filters[end]"/>
	  </div>
	</div>
	<div class="row search-bar-type"> 				
	    <div class="checkbox">
		    <label class="filters" for="board_type_shortboard">Shortboard</label>
		    <input type="checkbox" class="form-control" name="filters[board_type][]" id="board_type_shortboard" value="shortboard">
		    
		    <label class="filters" for="board_type_longboard">Longboard</label>
		    <input type="checkbox" class="form-control" name="filters[board_type][]" id="board_type_longboard" value="longboard">    
		  </div>
	</div>

	<div class="row search-bar-price"> 	
  	<p class="slider">
		  <label>Max Price: <span id='amount' class="price-slider">$50</span></label>
		  <input type="hidden" id="filters_max_price" value="50" name="filters[max_price]">
		</p>

		<div id="slider" class="slider"></div>

	</div>

	<div class="row row search-bar-location">
    <label class="sr-only" for="location">Location</label>
    <input type="text" class="form-control" id="index-location-picker" placeholder="Location" name="filters[location]"/>
  </div>

	<div class="search-button-index">
		<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
			Search!
		</button>
	</div>	
</form>