<div id="board-carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner-not-running">
    <div class="item active">
      <% if (board.photos().first()) { %>
        <img src="<%= board.photos().first().get('large') %>" class="carousel-alternate">
      <% } %>
    </div>

    <div class="item">
<!--       <img src="http://brahboards.s3.amazonaws.com/board/images/attachments/000/000/001/original/001.jpg?1401075411">
 -->    </div>
  </div>

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#board-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#board-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->

  <!-- Carousel Thumbnails -->
<!--   <ul class="carousel-thumbs">
    <li data-target="#carousel-show" data-slide-to="0" class="active">
        <img src="http://brahboards.s3.amazonaws.com/board/images/attachments/000/000/001/original/001.jpg?1401075411" class=" . . ." />
    </li>
    <li data-target="#carousel-show" data-slide-to="1">
        <img src="http://brahboards.s3.amazonaws.com/board/images/attachments/000/000/001/original/001.jpg?1401075411" class=" . . ." />
    </li> -->
        
  </ul>
</div>