<ul class="nav nav-tabs info-tabs">
  <li class="tab-tab active" style="border-right: thin #DEDEDE solid"><a href="#description" data-toggle="tab">Description</a></li>
  <li class="tab-tab"><a href="#specs" data-toggle="tab">Specs</a></li>
  <li class="tab-tab" style="border-left: thin #DEDEDE solid"><a href="#availability" data-toggle="tab">Availability</a></li>
</ul>

<!-- Reference the tab content partials in the info_tabs folder -->

<div class="tab-content board-tabs">
  <%= JST['boards/show/info_tabs/description']({board: this.model}) %>
  <%= JST['boards/show/info_tabs/specs']({board: this.model}) %>
  <%= JST['boards/show/info_tabs/availability']({board: this.model}) %>
</div>