<ul class="nav nav-tabs info-tabs">
  <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
  <li><a href="#specs" data-toggle="tab">Specs</a></li>
  <li><a href="#map" data-toggle="tab">Map</a></li>
  <li><a href="#availability" data-toggle="tab">Availability</a></li>
</ul>

<!-- Reference the tab content partials in the info_tabs folder -->

<div class="tab-content">
  <%= JST['boards/show/info_tabs/description']({board: this.model}) %>
  <%= JST['boards/show/info_tabs/specs']({board: this.model}) %>
  <%= JST['boards/show/info_tabs/availability']({board: this.model}) %>
</div>