<h1>The Boards!</h1>

<div class="search-bar"></div>



<div class="row index-image">
	<ul class="col-md-7 borderz board-results"></ul>
	
	<div class="map-results">
		<div class="col-md-5 borderz map-view">
			<div id="map-canvas"></div>
	  </div>
	</div>

</div>