<h1>The Boards!</h1>

<div class="search-bar"></div>



<div class="row">
	<ul class="col-md-8 borderz board-results"></ul>

	<div class="col-md-4 borderz map-view">
		<div id="map-canvas"></div>
  </div>

	</div>

</div>