<h1>Create a new Board Listing!</h1>

<form class="new-listing col-md-6" enctype="multipart/form-data" id="new-board-form">
<!--   <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" name="board[brand]" id="brand" placeholder="Brand">
  </div> -->
<div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" name="model" id="model" placeholder="Model">
  </div>
<!--     <div class="form-group">
    <label for="length">Length</label>
    <input type="text" class="form-control" name="board[length]" id="length" placeholder="Length">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input type="text" class="form-control" name="board[width]" id="width" placeholder="Width">
  </div>
  <div class="form-group">
    <label for="thickness">Condition</label>
    <input type="text" class="form-control" name="board[thickness]" id="thickness" placeholder="Condition">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="textarea" class="form-control" name="board[description]" id="description" placeholder="Description">
  </div> -->
  
  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" name="image" id="photo">
    <p class="help-block">At least one photo of your board is required!</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>