<div class="new-listing-container">
  <div id="error"></div>
  <form class="new-listing col-md-12" enctype="multipart/form-data" id="new-board-form">
    <div class="row">
      <h1 align=center>List your board!</h1><br>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="brand">Brand</label>
          <input type="text" class="form-control" name="board[brand]" id="brand" placeholder="Brand">
        </div>
        <div class="form-group">
          <label class="control-label" for="model">Model</label>
          <input type="text" class="form-control" name="board[model]" id="model" placeholder="Model">
        </div>
          <div class="form-group">
          <label class="control-label" for="length">Length</label>
          <input type="text" class="form-control" name="board[length]" id="length" placeholder="Length">
        </div>
        <div class="form-group">
          <label class="control-label" for="width">Width</label>
          <input type="text" class="form-control" name="board[width]" id="width" placeholder="Width">
        </div>
        
        <div class="form-group">
          <label class="radio control-label">Condition</label>
          <label for="condition_new">New</label>
          <input type="radio" name="board[condition]" id="condition_new" value="new">  
          <label for="condition_good">Good</label>
          <input type="radio" name="board[condition]" id="condition_good" value="good">  
          
          <label for="condition_new">Fair</label>
          <input type="radio" name="board[condition]" id="condition_fair" value="fair">  
          <label for="condition_good">Poor</label>
          <input type="radio" name="board[condition]" id="condition_poor" value="poor">  
          <br>
        </div>


        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea rows="4" class="form-control" name="board[description]" id="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
        <label class="control-label" for="price">Price per day</label>
        <input type="price" rows="4" class="form-control" name="board[price]" id="price" placeholder="Price">
      </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="control-label" for="address">Address</label>
          <input type="textarea" class="form-control" name="board[address]" id="address" placeholder="Address">
        </div>
        <div class="form-group">
          <label class="control-label" for="city">City</label>
          <input type="textarea" class="form-control" name="board[city]" id="city" placeholder="City">
        </div>
        <div class="form-group">
          <label class="control-label" for="state">State</label>
          <input type="textarea" class="form-control" name="board[state]" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label class="control-label" for="zipcode">Zipcode</label>
          <input type="textarea" class="form-control" name="board[zipcode]" id="zipcode" placeholder="Zipcode">
        </div>
        <div class="form-group">
          <label class="control-label" for="country">Country</label>
          <input type="textarea" class="form-control" name="board[country]" id="country" placeholder="Country">
        </div>
      </col>

      <label>Board Type</label>
      <div class="form-group">
        <label for="type_shortboard">Shortboard</label>
        <input type="radio" name="board[board_type]" id="type_shortboard" value="Shortboard">  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <label for="type_longboard">Longboard</label>
        <input type="radio" name="board[board_type]" id="type_longboard" value="Longboard">  
        <br>
      </div>

      <div class="form-group">
        <label class="control-label" for="photo">Photo</label>
        <input type="file" name="image" id="photo">
        <p class="help-block">At least one photo of your board is required!</p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</script>