<h1>
	<%= board.escape('year') %>
	<%= board.escape('brand') %>
	<%= board.escape('model') %>
</h1>

<%= JST['boards/show/carousel']({board: this.model}) %>
<br>


<div class="board-info-tabs"></div>
