<h1>Show Page!</h1>

<%= board.get('models') %>

<%= JST['boards/show/carousel']({board: this.model}) %>

<% board.photos().each(function (photo) { %>
	<%= photo.get('url') %>
<% }) %>

<div class="board-info-tabs"></div>
