<ul class="nav nav-tabs user-info-tabs">
  <li class="active tab-tab" style="border-right: thin #DEDEDE solid"><a href="#current_rentals_out" data-toggle="tab">Your Boards Being Rented</a></li>
  <li class="tab-tab"><a href="#current_rentals_in" data-toggle="tab">Boards you are renting</a></li>
  <li class="tab-tab" style="border-left: thin #DEDEDE solid"><a href="#users_boards" data-toggle="tab">Your Boards</a></li>
</ul>

<!-- Reference the tab content partials in the info_tabs folder -->

<div class="tab-content user-tabs">
  <%= JST['user/rental_info/current_rentals_out']({user: user}) %>
  <%= JST['user/rental_info/current_rentals_in']({user: user}) %>
  <%= JST['user/rental_info/users_boards']({user: user}) %>
</div>
