<ul class="nav nav-tabs user-info-tabs">
  <li class="active"><a href="#current_rentals_out" data-toggle="tab">Your Boards Being Rented</a></li>
  <li><a href="#current_rentals_in" data-toggle="tab">Boards you are renting</a></li>
  <li><a href="#users_boards" data-toggle="tab">Your Boards</a></li>
</ul>

<!-- Reference the tab content partials in the info_tabs folder -->

<div class="tab-content">
  <%= JST['user/rental_info/current_rentals_out']({user: user}) %>
  <%= JST['user/rental_info/current_rentals_in']({user: user}) %>
  <%= JST['user/rental_info/users_boards']({user: user}) %>
</div>
