<div id="error"></div>
<% if (user.escape('fname')) { %>
	<h1>Welcome back, <%= user.escape('fname') %>!</h1>
<% } else { %>
	<h1>Welcome back! </h1>
<% } %>

<% if (user.avatar().first) { %>
  <a href="/users/<%= user.escape('id') %>">      
		<img src="<%= user.avatar().escape('small_attachment') %>" 
		class="avatar-photo-user img-responsive img-thumbnail" alt="">
	</a>
	<br>
<% } %>

<%= JST['user/rental_information']({user: this.model}) %>