<div class="row auth-form">
	<div class="border-form-div">
	<h2 align="center">Sign in</h2>
	<br>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	    <div class="form-group">
	      <label for="email">Email</label>
	      <input type="text" class="form-control" name="user[email]" id="email">
	    </div>

	    <div class="form-group">
	      <label for="password">Password</label>
	      <input type="password" class="form-control" name="user[password]" id="password">
	    </div>
	  <div><button type="submit" class="btn btn-primary">Sign in</button></div>
	<% end %>
	<br>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	      <input type="hidden" name="user[email]" value="user7@gmail.com">
	      <input type="hidden" name="user[password]" value="asdfasdf">
	  <div><button type="submit" id="demo-user" class="btn btn-primary">Sign in as a guest!</button></div>
	<% end %>

	<br>
	<%= render "devise/shared/links" %>
</div>