<h1>List a Board</h1>

<br>
<form style="margin-left:100px" action="<%= boards_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="brand">Brand</label>
  <input type="text" id="brand" name="board[brand]">
  <br>
  <label for="model">Model</label>
  <input type="text" id="model" name="board[model]">
  <br>
  <label for="length">Length</label>
  <input type="text" id="length" name="board[length]">
  <br>
  <label for="width">Width</label>
  <input type="text" id="width" name="board[width]">
  <br>
  <label for="thickness">Thickness</label>
  <input type="text" id="thickness" name="board[thickness]">
  <br>
  <label for="condition">Condition</label>
  <input type="text" id="condition" name="board[condition]">
  <br>
  <label for="description">Description</label>
  <input type="textarea" id="description" name="board[description]">
  <br><br>
  <label for="address">Address</label>
  <input type="text" id="address" name="board[address]">
  <br>
  <label for="city">City</label>
  <input type="text" id="city" name="board[city]">
  <br>
  <label for="state">State</label>
  <input type="text" id="state" name="board[state]">
  <br>
  <label for="zipcode">Zipcode</label>
  <input type="text" id="zipcode" name="board[zipcode]">
  <br>
  <label for="country">Country</label>
  <input type="textarea" id="country" name="board[country]">
  <br>
  <label for="price">Price</label>
  <input type="text" id="price" name="board[price]">



  <input type="submit" value="Create it!">
</form>