/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require datepicker
 */

@import "bootstrap";


ul {
	list-style-type: none;
}
/*
.merged .input-group-addon {
    border-right: 0px;
    background-color: #FFFFFF;
}
.merged input {
    border-left: 0px;
    background-color: #FFFFFF;
}*/

.separator {
	margin-left: 20px;
	margin-right: 20px;
}

/*.form-control-date {
    width:200px;
}*/

/* User sign in and sign forms. */
.border-form-div {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.search-photo {
  float: left;
  margin-right: 50px;
}
 
.borderz {
  border: solid thin blue;
}

.map-view {
  height: 400px ;
  width: 400px;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: 100%;
}