<div class='home-image'>
  <div class='home-image-details center'>

	<h1>Find your board</h1>

		<form class="form-inline" role="form">
		  <div class="form-group">
		    <input type="text" name="filters[location]" id="home-location-picker" class="form-control" placeholder="Enter a location (We recommend San Francisco)">
		  </div>
		  <button type="submit" class="btn btn-search">Search!</button>
		</form>
	</div>
	
		<!-- <a href="#/boards/3">Go to boards 3</a> -->
		<br><br>
		<div class="hidden-map-canvas">
			<div id="hidden-map-canvas"></div>
		</div>

</div>