<h1>This is the user page</h1>

Email: <%= this.model.escape('email') %> <br>
First Name: <%= this.model.escape('fname') %> <br>
Last Name: <%= this.model.escape('lname') %> <br>
<br>
url:<%= this.model.escape('avatar')['url'] %>
