<div id='footer'>
  <div class='row footer-container'>
    <div class='col-md-3'></div>
    <div class='col-md-3'>
      <p class="footer-header">Company</p>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Press</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class='col-md-3'>
      <p class="footer-header">Popular Cities</p>
      <ul>
        <li><a href="">San Francisco</a></li>
        <li><a href="">San Diego</a></li>
        <li><a href="">Honolulu</a></li>
        <li><a href="">Maui</a></li>
        <li><a href="">Los Angeles</a></li>
      </ul>
    </div>
  </div>
</div>x