<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-logo" href="/">
        <img src="https://s3-us-west-1.amazonaws.com/brahboards/brahboards.png" alt="" class="logo">
      </a>
      <!-- <a class="navbar-brand" href="">BrahBoards</a> -->
    </div>
    <div class="navbar-left list-button-container">
      <a class="btn btn-info list-button" href="#boards/new">List your board!</a> 
<!--       <button class="btn btn-info" href="#boards/new" id="list-button">List your board!</button> -->
    </div>
    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/#user">Dashboard</a></li>
            <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
    <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
</nav>